:root {
  --heading-font-family: ;
  --default-font-family: ;
  --default-font-color: #070f4e;
  --navbar-default-font-color: #ffcccc;
}

.navbar {
  background-color: var(--default-font-color);
  opacity: 0.9;
  padding: 10px;
}

.navbar-brand {
  color: var(--navbar-default-font-color);
  font-style: italic;
  font-weight: 300;
}

.nav-link {
  color: var(--navbar-default-font-color);
}

.container-fluid i {
  color: var(--navbar-default-font-color);
}

.body {
  font-family: var(--default-font-family);
}

h1 {
  font-size: 96px;
  font-family: var(--heading-font-family);
  color: var(--default-font-color);
}

h2 {
  font-size: 48px;
  font-family: var(--heading-font-family);
  color: var(--default-font-color);
}

.welcome {
  background: #f5ebeb;
  text-align: center;
  padding: 200px 20px;
}

.btn-branding {
  background: #3ab1c8;
  opacity: 0.9;
  border-radius: 5px;
  color: var(--default-font-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  margin-top: 60px;
}

.about-container {
  padding: 50px 30px;
  margin-top: 40px;
  text-align: center;
}

.about-container img {
  border-radius: 100px;
  background: #3ab1c8;
  padding: 40px;
  margin: 10px;
  max-height: 580px;
}

.about-container h1 {
  padding: 10px;
  margin: 50px 0px 0px;
  line-height: 1;
}

.about-container p {
  padding: 40px 40px 0px;
  line-height: 1.5;
}
